<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/style/FormAdm.css">
</head>
<body>
    <main class="menu">
        <form method="post" action="/login"> <!-- Alterado o action para '/login' -->
            <div class="titulo-bloco">
                <h1 class="titulo">log<span class="titulo">in</span></h1>
            </div>
            <input class="input-user" type="text" name="username" placeholder="email"> <!-- Adicionado o atributo 'name' -->
            <input class="input-password" type="password" name="password" placeholder="password"> <!-- Adicionado o atributo 'name' -->
            <button class="btn" type="submit">botao</button> <!-- Adicionado o atributo 'type' -->
        </form>
    </main>
</body>
</html>