<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/style/FormAdm.css" />
</head>
<body>
    <main class="menu">
        <form action=""></form>
        <input class="input-user" type="email" placeholder="escreva">
        <input class="input-password" type="password" name="" id="">
        <button class="btn">entrar</button>
    </main>
</body>
</html>