<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/style/FormAdm.css">
</head>
<body>
    <main class="menu">
        <form action="post">
            <h1>log<span>in</span></h1>
        <input class="input-user" type="text" placeholder="email">
        <input class="input-password" type="password" placeholder="password">
        <button class="btn">botao</button>
        </form>
    </main>
</body>
</html>