<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="/src/style/style.css">
    <link rel="stylesheet" href="/src/style/darkmode.css">
</head>
<body>
 <header>
        <nav>
            <ul class="nav-u">
                <li><a href="">gv</a>
                <li><a href="">gff</a>
                <li><a href="">ff</a>
                <li><a href="">kdko</a></li>    
            </ul>
            <select name="" id=""></select>
        </nav>

        <div class="dk-mode">
            <input type="checkbox" class="checkbox" id="chk" />
            <label class="label" for="chk">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
              <div class="ball"></div>
            </label>
          </div>
    </nav>
 </header>
        <main class="informacao">
            <section>
              <h2>?</h2>
            <article class="novos-itens">
              <img src="" alt="">
              <h3>?</h3>
              <p>?</p>
              <a href="#">leia mais</a>
            </article>
            <section>
              <h2>?</h2>
            <article class="novos-itens">
              <img src="" alt="">
              <h3>?</h3>
              <p>?</p>
              <a href="#">leia mais</a>
            </article>
            <section>
              <h2>?</h2>
            <article class="novos-itens">
              <img src="" alt="">
              <h3>?</h3>
              <p>?</p>
              <a href="#">leia mais</a>
           </article>
           <section>
              <h2>?</h2>
              <article class="novos-itens">
              <img src="" alt="">
              <h3>?</h3>
              <p>?</p>
              <a href="#">leia mais</a>
         </article>
         <section>
              <h2>?</h2>
              <article class="novos-itens">
              <img src="" alt="">
              <h3>?</h3>
              <p>?</p>
              <a href="#">leia mais</a>
         </article>
            </section>
    </main>
    
    <footer></footer>
    <script src="script.js"></script>
    <script src="/javascript/darkmode.js"></script>
    <script src="https://kit.fontawesome.com/998c60ef77.js" crossorigin="anonymous"></script>
</body>
</html>