<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/src/favicon.ico" type="image/x-icon">
  <title>Amauricast</title>
  <link rel="stylesheet" href="/src/style/style.css">
  <link rel="stylesheet" href="/src/style/darkmode.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/src/style/botao-hambu.css">
  <link rel="stylesheet" href="/src/style/barra-de-pesquisa.css">
</head>

<body class="body">
  <div class="figma">
    <img class="fig" src="/src/img/Amauricast (11).png" alt="">
    <img class="fass" src="">

  </div>
  <header class="header">
    <div class="interface">
      <div class="logo">
        <a href="#">
          <img class="logo" src="/src/img/56 Sem Título.png" alt="logo">
        </a>
      </div>
      <!--logo-->


      <nav class="menu-nav">
        <ul>
          <li><a href="#">procedimento</a></li>
          <li><a href="#">procedimento</a></li>
          <li><a href="#">procedimento</a></li>
          <li><a href="#">procedimento</a></li>
        </ul>
      </nav>

      <!--dark mode-->
      <div class="dark">
        <input type="checkbox" id="toggle_checkbox">
        <label for="toggle_checkbox">
          <div class="star">
            🔅
          </div>
          <div class="moon">🌙</div>
        </label>
      </div>
      <!--dark mode-->

      <!--botao-hambu-->
      <div class="btn-hamb">
        <details>
          <summary class="summary"><i id="botao1" class="bi bi-list"></i><i id="botao2" class="bi bi-x-circle"></i>
          </summary>
          <div class="menu-hambur">

            <!--botao-hambu-dentro-->
            <div class="input">
              <button class="value">
                proce
              </button>
              <button class="value">
                proce
              </button>
              <button class="value">
                proce
              </button>
              <button class="value">
                proce
              </button>
              <button class="value">
                proce
              </button>
            </div>
            <!--botao-hambu-dentro-->

            <div class="mode">
              <input type="checkbox" class="checkbox" id="chk">

              <label class="label" for="chk">
                <i id="lua" class="fas fa-moon"></i>
                <i id="lua" class="fas fa-sun"></i>
                <div class="ball" id="ball"></div>
              </label>
            </div>
            <hr>
          </div>
        </details>
      </div>

      
      <!--botao-hambu-->


    </div>
    <!--interface-->

  </header>


  <nav class="navegacão-2">
    <ul>
      <li><a href="#">procedimento</a></li>
      <li><a href="#">procedimento</a></li>
      <li><a href="#">procedimento</a></li>
      <li><a href="#">procedimento</a></li>
    </ul>
  </nav>
  <!--navegacão-2-->

  <div id="menu"></div>

  <main id="main">

    <section class="topo-do-site">
      <div class="organizar1">
        <div class="color-vertical"></div>
        <h2 id="h2">Amauricast</h2>
      </div>


      <div class="organizar1">
        
        <div class="color-horizontal"></div>
      </div>

      <div class="organizacao-noticias">

        <div class="noticias">
          <a class="nome-noticias" href="pagina2.html" target="_blank">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>

        <div class="noticias">
          <a class="nome-noticias" href="pagina2.html" target="_blank">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>

        <div class="noticias">
          <a class="nome-noticias" href="pagina4.html">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>

        <div class="noticias">
          <a class="nome-noticias" href="pagina5.html">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>

        <div class="noticias">
          <a class="nome-noticias" href="pagina6.html">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>


        <div class="noticias">
          <a class="nome-noticias" href="pagina6.html">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>

        <div class="noticias">
          <a class="nome-noticias" href="/src/view/pagina2.html">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>

        <div class="noticias">
          <a class="nome-noticias" href="/src/view/pagina2.html">
            <img class="imagem1" src="/src/img/IMG-20231108-WA0048.jpg" alt="">
          </a>
          <p id="paragrafo">noticias de hoje</p>
        </div>

      </div> <!-- organizacao-noticias   -->
    </section>
    <!--topo-do-site-->

    </div>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/2seQNl1GCTae91QIEcbeWC?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <!--interface-->
  </main>

  <footer class="footer">

    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>procedimento</h4>
          <ul>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>procedimento</h4>
          <ul>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>procedimento</h4>
          <ul>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
            <li><a href="#">procedimento</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>procedimento</h4>
          <div class="social-links">
            <a href="https://open.spotify.com/show/2seQNl1GCTae91QIEcbeWC?si=VIJCnJFuRLiYVFgEpoTAsA" target="_blank"><i id="spotify" class="bi bi-spotify"></i></a>
            <a target="_blank" href="https://instagram.com/amauricast_perdedores?igshid=MzMyNGUyNmU2YQ=="><i id="icon-footer" class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div>

  <script src="/javascript/index.js"></script>
  <script src="/javascript/darkmode.js"></script>
  <script src="https://kit.fontawesome.com/998c60ef77.js"></script>
</body>

</html>