<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>

    <link rel="stylesheet" href="/src/style/darkmode.css">
    
</head>
<body>
    <nav>
        <a href=""><img src="" alt=""></a>
        
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <select name="" id=""></select>
        </nav>

        <div id="conteiner-dark-mode">
            <button onclick="DarkMode()" name="btn" id="btn">darkmode</button>
            
        </div>
    </nav>

    <main>
        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem at nisi nam quidem debitis corrupti unde! Sit nobis, numquam ipsum odio illum dolorem quos facere, accusantium totam, praesentium porro eius!</h1>
    </main>
    
    <footer></footer>

    <script src="/javascript/darkmode.js"></script>
</body>
</html>