<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/style/segunda-pagina.css">
    <link rel="stylesheet" href="/src/style/style.css">
    <link rel="stylesheet" href="/src/style/darkmode.css">
</head>
<body>
    <header class="header">
        <div class="interface">
          <div class="logo">
            <a href="#">
              <img class="logo" src="/src/img/56 Sem Título.png" alt="logo">
            </a>
          </div>
          <!--logo-->
    
    
          <nav class="menu-nav">
            <ul>
              <li><a href="#">procedimento</a></li>
              <li><a href="#">procedimento</a></li>
              <li><a href="#">procedimento</a></li>
              <li><a href="#">procedimento</a></li>
            </ul>
          </nav>
    
          <!--dark mode-->
          <div class="dark">
            <input type="checkbox" id="toggle_checkbox">
            <label for="toggle_checkbox">
              <div class="star">
                🔅
              </div>
              <div class="moon">🌙</div>
            </label>
          </div>
          <!--dark mode-->
    
          <!--botao-hambu-->
          <div class="btn-hamb">
            <details>
              <summary class="summary"><i id="botao1" class="bi bi-list"></i><i id="botao2" class="bi bi-x-circle"></i>
              </summary>
              <div class="menu-hambur">
    
                <!--botao-hambu-dentro-->
                <div class="input">
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                </div>
                <!--botao-hambu-dentro-->
    
                <div class="mode">
                  <input type="checkbox" class="checkbox" id="chk">
    
                  <label class="label" for="chk">
                    <i id="lua" class="fas fa-moon"></i>
                    <i id="lua" class="fas fa-sun"></i>
                    <div class="ball" id="ball"></div>
                  </label>
                </div>
                <hr>
              </div>
            </details>
          </div>
          <!--botao-hambu-->
    
    
        </div>
        <!--interface-->
    
      </header>

    <main class="card">
        <div class="card__image">
            <img class="img-pag2" src="/src/img/IMG-20231116-WA0008.jpg" alt="">
        </div>
        <div class="card__content">
          <span class="title">episódio-92</span>
          <p>lorem trenetur accusantium molestias esse ea voluptas omnis tempore veniam cumque velit et, cum modi. Id beatae nisi nobis, totam aspernatur corrupti excepturi.]</p>
        </div>
      </main>

      <button>
        <a href="index.html">
            <div id="clip">
                <div id="leftTop" class="corner"></div>
                <div id="rightBottom" class="corner"></div>
                <div id="rightTop" class="corner"></div>
                <div id="leftBottom" class="corner"></div>
            </div>
            <span id="rightArrow" class="arrow"></span>
            <span id="leftArrow" class="arrow"></span>
        </a>
        VOLTAR
        
    </button>
      
      <script src="/javascript/pag2-dk-mode.js"></script>
</body>
</html>