<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/style/segunda-pagina.css">
    <link rel="stylesheet" href="/src/style/style.css">
    <link rel="stylesheet" href="/src/style/darkmode.css">
</head>
<body>
    <header class="header">
        <div class="interface">
          <div class="logo">
            <a href="#">
              <img class="logo" src="/src/img/56 Sem Título.png" alt="logo">
            </a>
          </div>
          <!--logo-->
    
    
          <nav class="menu-nav">
            <ul>
              <li><a href="#">procedimento</a></li>
              <li><a href="#">procedimento</a></li>
              <li><a href="#">procedimento</a></li>
              <li><a href="#">procedimento</a></li>
            </ul>
          </nav>
    
          <!--dark mode-->
          <div class="dark">
            <input type="checkbox" id="toggle_checkbox">
            <label for="toggle_checkbox">
              <div class="star">
                🔅
              </div>
              <div class="moon">🌙</div>
            </label>
          </div>
          <!--dark mode-->
    
          <!--botao-hambu-->
          <div class="btn-hamb">
            <details>
              <summary class="summary"><i id="botao1" class="bi bi-list"></i><i id="botao2" class="bi bi-x-circle"></i>
              </summary>
              <div class="menu-hambur">
    
                <!--botao-hambu-dentro-->
                <div class="input">
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                  <button class="value">
                    proce
                  </button>
                </div>
                <!--botao-hambu-dentro-->
    
                <div class="mode">
                  <input type="checkbox" class="checkbox" id="chk">
    
                  <label class="label" for="chk">
                    <i id="lua" class="fas fa-moon"></i>
                    <i id="lua" class="fas fa-sun"></i>
                    <div class="ball" id="ball"></div>
                  </label>
                </div>
                <hr>
              </div>
            </details>
          </div>
          <!--botao-hambu-->
    
    
        </div>
        <!--interface-->
    
      </header>

      <main>
        <article>
            <img src="/src/img/IMG-20231113-WA0005.jpg" alt="Notícia 1">
            <h2>Manchete da Notícia 1</h2>
             <summary >
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit incidunt asperiores corporis, nesciunt neque voluptate blanditiis nemo fuga facilis dolores, error sed doloremque, reprehenderit perspiciatis ab placeat sint laboriosam distinctio.
              Lorem ipsum dolor sit amet consectetut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae modi recusandae minus nam impedit, expedita sequi soluta eos rem in reprehenderit autem nemo exercitationem officiis, omnis assumenda consequatur perspiciatis delectus!
               <details class="de">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, fugit, quo quos dolorum quia, tempora blanditiis nostrum eum eos maiores sint accusamus fugiat modi. Inventore beatae nobis ut nesciunt odit!
               </details>              
            </summary>

        </article>
    </main>
    <footer>
        <p>&copy; 2023 Página de Notícias</p>
    </footer>
      
      <script src="/javascript/pag2-dk-mode.js"></script>
</body>
</html>