*{
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  
}

main {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 160px;
}

article {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;

}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

.de {
  color: black;
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

summary{
  color: black;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: white;
}

.button {
  font-family: monospace;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  position: absolute;
  top: 100%;
  left: 47%;
  transform: translate(-50%, -50%);
  
}

.button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}


@media screen and (max-width: 1020px){
  article {
    width: 400px;
    position: relative;
    top: -120px;
  }

  .button{
    position: absolute;
    top: 90.9%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}
