
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #1d1e20;
    padding: 20px;
    min-width: 120px;
    max-width: 3000px;
}


nav ul{

    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    
}


#conteiner-dark-mode {
    display: flex;
    justify-content: flex-end;
}