* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: rgb(255, 249, 249);
}

header{
  background-color: #010102;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-dark button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: darkred;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  box-shadow: 0px 0px 8px rgba(123, 4, 167, 0.53);
  transform: scale(1.05);
}

h2.titulo{
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color:blueviolet;
}



.logo {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  

/* estilo do cabecario*/

header {
  padding: 40px 4%;
}

header .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;

}

/*navegação2*/

.navegacão-2 ul {
  
  padding: 20px;
  background-color: #0c1423;
  list-style: none;
  display: flex;
  gap: 2rem; /* Reduzi o espaçamento para telas menores */
  justify-content: center;
}


.navegacão-2  a {
  color: #7d7d7d;
  text-decoration: none;
  transition: .2s;
}

.navegacão-2  a:hover {
  color: #fff;
  transform: scale(1.05);
}


/*main*/

main {


}
